<h1>Simple Gym Booking System</h1>

<img src="gym_clipart.png" alt="gym clipart">
<p>All lessons are £5 for members and £7 for visitors.</p>
<p id="footer"> 
        This app was designed and developed by Craig Scrimgeour 
        for the CodeClan_ Ruby project. 
</p>
