<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/members">Members</a></li>
                <li><a href="/members/new">Add a New Member</a>
                <li><a href="/lessons">Lessons</a></li>
                <li><a href="/lessons/new">Add a New Lesson</a></li>
                <li><a href="/bookings">Bookings</a></li>
                <li><a href="/bookings/new">Add a New Booking</a></li>
            </ul>
        </nav>

    </main>
    <%= yield %> 
</body>
</html>