<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Simple Gym Booking System</title>
</head>
<body>
        <nav>
            <div class="topnav">
    
                    <a class="active" href="/">Home</a>
                    <a href="/members">Members</a>
                    <a href="/members/new">Add New Member</a>
                    <a href="/lessons">Lessons</a>
                    <a href="/lessons/new">Add New Lesson</a>
                    <a href="/bookings">Bookings</a>
                    <a href="/bookings/new">Add New Booking</a>
                
            </div>
        </nav>

    <%= yield %> 
</body>

</html>