<h1>Add a new Member</h1>
<h3>Form for adding a new member</h3>

<form method="POST" action="/members">
    <p>
        <label for="first_name"> First Name:</label>
        <input type="text" name="first_name" id="first_name" />
    </p>

    <p> 
        <label for="last_name"> Last Name:</label>
        <input type="text" name="last_name" id="last_name" />
    </p>

    <p>
        <label for="date_of_birth"> Date of Birth:</label>
        <input type="text" name="date_of_birth" id="date_of_birth" />
    </p>

    <p>
        <input type="submit" value="Add Member"/>
    </p>
</form>